.close-input {
    position: absolute;
    top: 10px;
    z-index: 100;
    right: 53px;
    cursor: pointer;
}

.btn-secondary {
    background: #0069d9 !important;
    box-shadow: none !important;
}